#writeBoard {
    width: 800px;
    margin: 0 auto;
}

#writeBoard h3 {
    color: #575347;
    margin-top: 30px;
    padding: 10px;
    border-bottom: solid 2px #7e4a35;
    font-size: 20px;
}

#writePost {
    padding-left: 20px;
}

#writePost span {
    display: inline-block;
}

#writePost .col1 {
    width: 150px;
}

#writePost li {
    border-bottom: solid 1px #dec8cb;
    padding: 10px;
}

#writePost input {
    width: 500px;
    height: 25px;
    border-color: #dec8cb;
    border-radius: 3px;
}

#writePost textarea {
    width: 500px;
    height: 150px;
    border-color: #dec8cb;
    border-radius: 3px;
}

#writePost #textarea {
    position: relative;
    height: 158px;
}

#writePost #textarea .col1 {
    position: absolute;
    top: 10px;
}

#writePost #textarea .col2 {
    position: absolute;
    left: 166px;
}

#writePost input[type="submit"] {
    margin: 15px 0 30px 165px;
    cursor: pointer;
    height: 30px;
}

.btn { background-color: #dfb7b7; border: 0; outline: 0; color: #ffffff; transition: all 0.9s, color 0.3;}
.btn:hover{ background-color: #e0a4a4;  border: none; color: #ffffff; } 